.navbar {
  position: relative;
  margin-top: 10px;
  z-index: 9;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: end;
  width: 200px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.navbar-nav {
  text-align: right;
  padding: 10px 0;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #ccc;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f90;
}
